<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wc.toyshop.repository.OrdersRepository">
	<select id="sum" resultType="com.wc.toyshop.controller.dto.BasketSumDto">
	SELECT b.count, p.price
		FROM basket b INNER JOIN product p
		ON b.productId = p.id
		INNER JOIN user u
		ON b.userId = u.id
	WHERE u.id = #{userId} AND b.id = #{basketId}
	</select>
	
	<insert id="saveOrders" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO orders(userId, impId, merchantId, applyNum,totalPay,createDate)
		VALUES(#{userId},#{impId},#{merchantId},#{applyNum},#{totalPay},now())
	</insert>
	
	<insert id="saveDetails">
		INSERT INTO orders_detail(ordersId, productId, count, status,createDate)
		VALUES(#{ordersId},#{productId},#{count},#{status},now())
	</insert>
</mapper>