<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wc.toyshop.repository.UserRepository">

	<select id="findByProviderAndProviderId" resultType="com.wc.toyshop.model.User">
		SELECT * 
		FROM user
		WHERE provider = #{provider} AND providerId = #{providerId}
	</select>

	<select id="findByUsername" resultType="com.wc.toyshop.model.User">
		SELECT * 
		FROM user
		WHERE username = #{username}
	</select>

	<insert id="save">
		INSERT INTO user(username, email, password,
		name,address,phone,gender,role,provider,providerId,createDate)
		VALUES(#{username},#{email},#{password},
		#{name},#{address},#{phone},#{gender},#{role},#{provider},#{providerId},
		now())
	</insert>

</mapper>
